*{
    padding: 0;
    margin: 0;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.my-btn{
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: 0;
    cursor: pointer;
}

.my-btn:hover{
    background-color: #b0bb14;
}

.my-btn-2{
    border-radius: 4px;
    padding: 16.5px 16px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.my-btn-2 img{
    justify-content: center;
}

.my-btn-2:hover{
    background-color: #b0bb14;
}

.my-btn-3{
    border-radius: 4px;
    padding: 16.5px 16px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    gap: 1.06px;
    align-items: center;
}


.my-btn-3:hover{
    background-color: #b0bb14;
}

nav{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;

}

.link-parent a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000    ;
    line-height: 152%;
    cursor: pointer;
}


#hero-banner{
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1600px;
    height: 674px;
    /* padding: 0; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#hero-banner .head-box{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    /* margin-bottom: 16px; */
    border: none;
}

#hero-banner .heading{
    color: #30B868;
    line-height: 1;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 16px 0;  
    
}

#hero-banner .pra-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    align-items: center;
    padding: 0;
    margin-bottom: 32px;
}

#hero-banner .buton{
    display: flex;
    gap: 16px;
}

#notes .head{
    height: 116px;
    max-width: 1360px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 16px;
}

#notes .head h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

#notes .paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}
#notes .card-box{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
#notes .card-box .card{
    background-color: transparent;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 6%);
    text-align: center;
    max-width: 322px;
    justify-content: center;
    align-items: center;
    padding-top: 69.5px;    
}

#notes .card-box .card img{
    padding-bottom: 16px;
}

#notes .card-box .card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-bottom: 16px;
}

#notes .card-box .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#Brain{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    max-width: 1360px;
    margin-top: 120px;
}

#Brain form h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

#Brain form h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#Brain form p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

#Brain form ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

#Brain form ul li{
    display: flex;
    gap: 1.88px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    list-style: none;
    justify-content: flex-start;
    align-items: center;    

}

#Brain form ul li img{
    justify-content: center;
}

.link-parent a:hover{
    background-color: #b0bb14;
}

#Early-Access .box{
    background-color: #F7F6F2;
    margin-top: 120px;
    max-height: 1360px;
    border-radius: 12px;
    border: none;
    padding: 80px 40px;
    text-align: center;
    margin-bottom: 120px;
}
#Early-Access .box h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#Early-Access .box p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
#Early-Access .box button{
    margin: 0 auto;
    margin-bottom: 16px;
}
#Early-Access .box .bottom{
    line-height: 20px;
}

#footer-container{
    background-color: #001931;
    margin: 0 auto;
    max-width: 1600px;
    padding: 120px 120px 30px 120px;

}
#footer-container .header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 80px;
}
#footer-container .header .social{
    width: 220px;
    text-align: left;
}

#footer-container .header h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#footer-container .header .social .icons{
    display: flex;
    gap: 16px;
}
#footer-container .copy-right{
    height: 54px;
    width: 1360px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
