*{
    padding: 0;
    margin: 0;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

.container {
    max-width: 1360px;
    margin: auto;
}

.my-btn{
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: 0;
    cursor: pointer;
}

.my-btn:hover{
    background-color: #b0bb14;
}

nav{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;

}

.link-parent a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000    ;
    line-height: 152%;
}

#hero-parent{
    background-image: url(/assets/hero-bg.png);
    margin: 0 auto;
    max-width: 100%;
    height: 674px;
    padding: 115.5px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

